<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <section class="signup-form">
        <h1>Sign Up</h1>
        <form action="" method="post">
            <div class="int-area">
                <input type="text" name="username" id="username" autocomplete="off" required>
                <label for="username">USER NAME</label>
            </div>
            <div class="int-area">
                <input type="password" name="password" id="password" autocomplete="off" required>
                <label for="password">PASSWORD</label>
            </div>
            <!-- 추가적인 입력 필드를 여기에 추가할 수 있습니다. -->
            <div class="btn-area">
                <input id="button" type="submit" value="Sign Up">
            </div>
        </form>
        <div class="caption">
            <a href="/login">Already have an account? Sign in</a>
        </div>
    </section>
    <script>
        $(document).ready(function(){
            $('#btn').on('click', function(e){
                e.preventDefault();
                let username = $('#username').val();
                let password = $('#password').val();
                
                if(username === ""){
                    $('label[for="username"]').addClass('warning');
                    setTimeout(function(){
                        $('label[for="username"]').removeClass('warning');
                    }, 1500);
                }
                else if(password === ""){
                    $('label[for="password"]').addClass('warning');
                    setTimeout(function(){
                        $('label[for="password"]').removeClass('warning');
                    }, 1500);
                }
                else {
                    $('form').submit(); // 유효성 검사를 통과하면 폼 제출
                }
            });
        });
    </script>
</body>
</html>
