body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
}

.account-menu {
    text-align: left;
}

.account-menu a {
    color: #fff;
    text-decoration: none;
}

.add-notice-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.announcement {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    color:#fff;
}

.announcement ul {
    list-style-type: none;
    padding: 0;
}

.announcement li {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.announcement h3 {
    margin: 0;
}

.announcement a {
    color: #007bff;
    text-decoration: none;
}


.notice-list {
    list-style-type: none;
    padding: 0;
}

.notice-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.search-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.search-container input[type=text] {
    width: calc(100% - 80px);
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 30px;
    text-align: center;
}

.search-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: #555;
    cursor: pointer;
}

.post-icons {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    margin-top: 50px; /* 아이콘과 다른 요소 사이의 간격 조정 */
}

.post-icon {
    margin: 0 10px; /* 아이콘 간의 간격 조정 */
}

.post-icon img {
    width: 50px; /* 아이콘 크기 조정 */
    height: 50px;
}